@model WebApplicationLoan.Models.LoginViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    <form asp-action="Login" asp-controller="User" method="post">
        <div>
            <label asp-for="Email"></label>
            <input type="text" class="form-control" asp-for="Email">
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password">
        </div>

        <button type="submit" class="btn btn-secondary">login</button>


    </form>

</body>
</html>