@model WebApplicationLoan.Models.LoanDetailsViewModel

@{
    ViewData["Title"] = "Loan Application";
}

<h1>Loan Application</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<h4>Fill in the amount and tenure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Store" method="post">
            <input asp-for="UserId" type="hidden" value="@ViewData["Id"]" class="form-control" />
            
            <div class="form-group">
                <label asp-for="AmmountCollected" class="control-label"></label>
                <input asp-for="AmmountCollected" class="form-control" />
                <span asp-validation-for="AmmountCollected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenure" class="control-label"></label>
                <input asp-for="Tenure" class="form-control" />
                <span asp-validation-for="Tenure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
